.content {
		min-height: 100vh;
		background: #F7F8FA;
		width: 100vw;
		.head {
			image {
				width: 750rpx;
				display: block;
			}
		}

		.search {
			margin: 0 28rpx;
			position: relative;

			&_content {
				gap: 12rpx;
				box-sizing: border-box;
				padding: 0 20rpx;
				width: 100%;
				position: absolute;
				top: -62rpx;
				height: 124rpx;
				background-color: rgba(255, 255, 255, 0.85);
				border-radius: 16rpx;
				display: flex;
				align-items: center;
			}

			&_input {
				flex: 1;
			}

			.chart {
				width: 48rpx;
				height: 48rpx;
				background-image: url(/static/chart.png);
				background-size: 100% 100%;
			}
		}

		.main {
			padding: 0 28rpx;
			display: flex;
			flex-direction: column;
			gap: 26rpx;

			.nav_menu {
				display: flex;
				justify-content: space-around;
				margin-top: 86rpx;

				border-radius: 16rpx;
				padding: 26rpx 0;
				background: #FFFFFF;

				.item {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 20rpx;

					image {
						width: 58rpx;
						height: 58rpx;
					}

					text {
						font-family: Source Han Sans;
						font-size: 28rpx;
						font-weight: 350;
						color: #1A1A1A;
					}
				}
			}

			.type_card {
				height: 180rpx;
				border-radius: 16rpx;
				background: #FFFFFF;
				display: flex;
				overflow: hidden;

				.type {
					width: 160rpx;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					background: #eee;

					.title {
						font-family: Source Han Sans;
						font-size: 28.84rpx;
						font-weight: bold;
						line-height: normal;
						color: #000000;
					}

					.tips {
						font-size: 19.23rpx;
						padding: 6rpx 0 12rpx;
					}

					.btn {
						width: 120rpx;
						height: 28rpx;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #FFC162;
						border-radius: 40rpx;
						font-size: 20rpx;
						color: #fff;
						background: #FFC162;
					}
				}

				.list {
					height: 100%;
					flex: 1;
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					grid-template-rows: repeat(2, auto);
					gap: 16rpx;
					padding: 20rpx 16rpx;
					box-sizing: border-box;

					text {
						padding: 10rpx 0;
						text-align: center;
						color: #333;
						font-size: 24rpx;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #F5F5F5;
						border-radius: 16rpx;

						&.active {
							background: #E0EFFF;
							color: #1677FF;
						}
					}
				}
			}

			.doctors {
				border-radius: 16rpx;
				background: #FFF;
				padding: 16rpx 20rpx 0 0;

				.title {
					font-size: 32rpx;
					color: #000;
					padding: 20rpx 24rpx;
				}

				&_content {
					display: flex;
					height: 424rpx;
					gap: 20rpx;

					.left {
						flex: 1;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						background: linear-gradient(180deg, #D6E6F8 0%, #FFFFFF 75%);
						border-radius: 20rpx;

						.info {
							text-align: center;
							color: #333;
							padding-top: 26rpx;
							line-height: 1.6;

							.name {
								font-size: 32rpx;
								font-weight: bold;
							}

							.award {
								font-size: 28rpx;
							}
						}

						.avator {
							display: flex;
							justify-content: flex-end;

							image {
								width: 226rpx;
								height: 296rpx;
								display: block;
							}
						}
					}

					.right {
						width: 362rpx;
						display: flex;
						flex-direction: column;
						gap: 12rpx;

						.item {
							height: 133.33rpx;
							background: linear-gradient(180deg, #D6E6F8 0%, #FFFFFF 75%);
							display: flex;
							justify-content: space-between;
							align-items: center;
							border-radius: 20rpx;

							&_info {
								display: flex;
								flex-direction: column;
								color: #000;
								gap: 8rpx;
								padding-left: 20rpx;

								.name {
									font-size: 30rpx;
									font-weight: 500;
								}

								.award {
									font-size: 20rpx;
								}
							}

							&_hd {
								image {
									width: 142rpx;
									height: 122rpx;
									display: block;
								}
							}

						}
					}
				}
			}

			.category {
				.tab_content {
					display: flex;
					flex-direction: column;
					gap: 20rpx;
					padding: 20rpx 0;

					.iformation {
						padding: 20rpx;
						border-radius: 16rpx;
						background-color: #fff;

						.basic {
							display: flex;
							gap: 20rpx;

							.avator {
								width: 140rpx;
								height: 140rpx;
								border-radius: 50%;
								overflow: hidden;

								image {
									width: 100%;
									height: 100%;
									display: block;
								}
							}
						}

						.sign {
							flex: 1;
							display: flex;
							flex-direction: column;
							justify-content: center;
							gap: 10rpx;

							&_name {
								display: flex;
								gap: 20rpx;

								.name {
									font-size: 32rpx;
									font-weight: bold;
								}

								.tag {
									min-width: 236rpx;
									height: 44rpx;
									background-image: url(/static/index/tag.png);
									background-size: 236rpx 44rpx;
									background-repeat: no-repeat;
									font-size: 24rpx;
									color: #Fff;
									padding-left: 44rpx;
									display: flex;
									align-items: center;
									position: relative;

								}
							}

							.address {
								display: flex;

								text {
									background-color: #FD8702;
									border-radius: 10rpx;
									font-size: 24rpx;
									color: #fff;
									padding: 0 10rpx;
								}
							}
						}

						.describe {
							font-size: 24rpx;
							font-weight: 350;
							line-height: 40rpx;
							color: #606972;
							padding: 20rpx 0;
						}

						.feature {
							display: flex;
							align-items: center;
							justify-content: space-between;

							.btn {
								display: flex;
								align-items: center;
								justify-content: center;
								gap: 24rpx;

								image {
									width: 46rpx;
									height: 46rpx;
								}

								text {
									font-size: 24rpx;
									color: #333;
								}
							}
						}
					}
				}
			}

		}
	}