.custom-nav-wrap {
  position: absolute;
  top: 20rpx;
  left: 0;
  width:750rpx;
  z-index: 9999; // 防止被遮挡
  .custom-nav{
	  padding: 0 16px;
	  width:100%;
	  height: 100%;
		box-sizing: border-box;
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  // H5端适配：改用sticky，避免fixed在滚动时的问题
	  /* #ifdef H5 */
	  position: absolute;
	  top:20rpx;
	  /* #endif */
	  
	  // 小程序胶囊适配：右侧内边距对齐
	  /* #ifdef MP-WEIXIN */
	  padding-right: v-bind('navRightPadding + "px"');
	  /* #endif*/
  }
}

.nav-left {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-left-addr{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap:5rpx;
	line-height: 1;
	font-size: 28rpx;
	color: #333;
	 image{
		  width:28rpx;
		  height:28rpx;
		  display:block;
		  }
}

.nav-title {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  transform: translateX(-50%);
  // 标题居中（防止左右按钮宽度不一致导致偏移）
  //#ifdef H5 
  position: sticky;
  // #endif 
  left: 50%;
  top: v-bind('statusBarHeight + "px"');
  transform: translateX(-50%);
  text-align: center;
  width: 120px; // 限制宽度，避免标题过长
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}